<p>Sorted by <%= @sort_order.capitalize %></p>
<table>
 <% @albums.each do |album| %>
  <%= album.rank == rank_to_highlight ? "<tr class=\"highlighted\">" : "<tr>" %>
    <td><%= album.rank %></td>
    <td><%= album.title %></td>
    <td><%= album.year %></td>
  </tr>
<% end %>
</table>
